<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>About</title>
  </head>
  <body>
    <form action="/profile">
      Animal
      <input name="animal"><br>
      Adjective
      <input name="adjective"><br>
      Body Part
      <input name="body_part"><br>
      Verb
      <input name="verb"><br>
      Place
      <input name="place"><br>
      Holiday
      <input name="holiday"><br>
      <button type="submit">Generate Madlib</button>
    </form>

  </body>
</html>
